# UNINDO DIVERSOS ARQUIVOS EXCEL EM 1 ÚNICO ARQUIVO EXCEL

In [ ]:
#Acessando o diretório onde estão os meus arquivos:
cd C:/Users/luis Shikasho/Documents/teste

In [34]:
#Listando os arquivos '1-lojaA.xlsx', '2-lojaA.xlsx','3-lojaA.xlsx' que estão no diretório:
ls

 O volume na unidade C não tem nome.
 O Número de Série do Volume é 04F4-69E8

 Pasta de C:\Users\luis Shikasho\Documents\teste

13/12/2022  22:15    <DIR>          .
13/12/2022  22:15    <DIR>          ..
13/12/2022  22:05             8.574 1-lojaA.xlsx
13/12/2022  22:05             8.570 2-lojaA.xlsx
13/12/2022  22:05             8.580 3-lojaA.xlsx
               3 arquivo(s)         25.724 bytes
               2 pasta(s)   74.961.674.240 bytes disponíveis

In [49]:
#Lendo o arquivo 1-lojaA.xlsx
loja1 = pd.read_excel("1-lojaA.xlsx")
display(loja1)

        produto  valor
0          agua      1
1          suco      2
2  refrigerante      3

In [50]:
#Lendo o arquivo 2-lojaA.xlsx
loja2 = pd.read_excel("2-lojaA.xlsx")
display(loja2)

   produto  valor
0    arroz      5
1   feijao      5
2  farinha      3

In [51]:
#Lendo o arquivo 3-lojaA.xlsx
loja3 = pd.read_excel("3-lojaA.xlsx")
display(loja3)

    produto  valor
0       pao      4
1  macarrao      3
2      café      2

In [55]:
#Importe a biblioteca os
import os 

#Importe a biblioteca pandas
import pandas as pd 

#Localizando a pasta onde contém os arquivos
data_arquivo_folder = r'C:\Users\luis Shikasho\Documents\teste'

df = []

#Se na pasta C:\Users\luis Shikasho\Documents\teste tiver um arquivo que termine com .xlsx, então:
for file in os.listdir(data_arquivo_folder):
    if file.endswith('.xlsx'):
        print('Carregando o arquivo {0}...'.format(file))
        #Junte todos esses arquivos em 1 único arquivo
        df.append(pd.read_excel(os.path.join(data_arquivo_folder, file)))

#Mostrando que foi feito com sucesso
print(len(df))

#Objeto para guardar o arquivo que foi "juntado"
df_principal = pd.concat(df, axis=0)

#Convertendo para EXCEL e deixando apenas com o primeiro índice
df_principal.to_excel(r'C:\Users\luis Shikasho\Documents\teste\tudoloja.xlsx', index=False)

Carregando o arquivo 1-lojaA.xlsx...
Carregando o arquivo 2-lojaA.xlsx...
Carregando o arquivo 3-lojaA.xlsx...
3

In [56]:
#Exibindo o conteúdo que foi "juntado" num único arquivo
tudoloja = pd.read_excel("tudoloja.xlsx")
display(tudoloja)

        produto  valor
0          agua      1
1          suco      2
2  refrigerante      3
3         arroz      5
4        feijao      5
5       farinha      3
6           pao      4
7      macarrao      3
8          café      2